
/* 글꼴 */
@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
    font-family: 'TheJamsil';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'TheJamsil';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'TheJamsil';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'TheJamsil';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'TheJamsil';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'TheJamsil';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/TheJamsil/TheJamsil-ExtraBold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'NanumSquare';
    font-weight: 300; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquare_acL.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquare_acR.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 500; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquare_acB.woff2) format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/NanumSquare_acEB.woff2) format('woff2');
    font-display: swap;
}
  

/* 공통 폰트 */
body {
    font-family: 'NanumSquare';
}

.shadow {
  box-shadow: 1px 3px 5px 2px rgba(0,0,0,.08) !important;
}

/* 로그인 후 메인페이지 */



.col-6.text-start.ps-3.pt-0.item-center span{
  font-size: 20px;
}
.ht35{
  height:35px;
}
.kcal-font{
  font-size: 20px;
  color:#105133;
}
.gram-font{
  font-size:15px;
}
div.col-5.text-start.ps-3.pt-0.item-center span {
  margin-left: 10px;
}
.carbohydrate{
  font-size: 17px;
  padding:2px;
  border-radius: 5px;
  background-color:#ffc107;
  color:white;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  
}
.carbohydrate span {
  margin-left: 5px;
}

.protein{
  font-size: 17px;
  padding:2px;
  border-radius: 5px;
  background-color:#0d6efd;
  color:white;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}
.lipid{
  font-size: 17px;
  padding:2px;
  border-radius: 5px;
  background-color:#e45d6b;
  color:white;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}
.main-image{
  height:300px;
  width:370px;
}
.content-center{
   display: flex !important;
   justify-content: center!important;
}

.item-center{
  display: flex !important;
  align-items: center !important;
}

.main-modify-btn{
  height:35px;
}

.modal-body-style{
  border-radius: 20px;
  height:270px;
  overflow: hidden;
}

.rec-btn-shadow{
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
  0 2px 2px rgba(0,0,0,0.11), 
  0 4px 4px rgba(0,0,0,0.11), 
  0 6px 8px rgba(0,0,0,0.11),
  0 8px 16px rgba(0,0,0,0.11);

}
.rec-text{
  font-size: 20px;
  font-family:"TheJamsil";
  font-weight: 600;
  font-style: italic;
  color:white;
}

.main-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.main-footer-a a{
    height:50px;
    background-color:#fff;
    color: #1f8648;
    text-decoration: none;
    margin-right: 20px;
    font-size:20px;
    font-weight:600
}

#nav-this{
  height:50px;
  background-color:#1f8648;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size:20px;
  font-weight:600
}
.logo{
    color: #1f8648;
    font-family:"TheJamsil";
    font-style: italic;
    font-size:30px;
    box-sizing:inherit;
    margin-left: 10px;
    text-decoration: none;
    margin-top: 100px;
    font-weight: 600;
}
.joinsc-logo{
    color: #1f8648;
    font-family:"TheJamsil";
    font-style: italic;
    font-size:30px;
    box-sizing:inherit;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
}


.profile img{
    height: 45px;
    width: 45px;
}
.profile-drop{
  left: -105px!important;
  border:2px solid #1f8648;
}
#mv{
    margin-top: 50px;
}
#mv img{
    width: 100%;
    
}

.main-text{
    font-family: 'NanumSquare';
    margin-top: 40px;
    margin-bottom: -3px;
    font-size: 20px;
    font-weight: 900; 
    height:50px;
    letter-spacing: -0.1ex;
}

.main-camera{ 
    height: 150px;
    width: 43%;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    border:none;
    box-shadow: 0px 5px 10px 0px #dddddd;

}
.main-camera h6{
    font-family: "NanumSquare";
    font-weight: 500;
    font-size: 17px;
}
.main-camera2>img{
    width: 110px;
    margin-top: -15px;
}
.main-pen>img{
    width: 110px;
    margin-top: -15px;
}
.main-camera2{
    margin-right: 3%;
}
.main-pen{
    margin-left: 3%;
}

.nutrient-bar-title>h1{
    font-family: "NanumSquare";
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nutrient{
    margin-bottom: 20px;
}
.nutrient span{
    font-family: "NanumSquare";
    font-weight: 400;
    font-size: 16px;
}
.nutrient-bar{
    opacity : 0.5;
}
.nutrient-bar-text{
    font-family: "NanumSquare";
    font-weight: 500;
    font-size: 13px;
    margin-left: 10px;
    color:#666;
}

.div-section{
    margin-top: 40px; 
    margin-bottom: 40px; 
    height: 12px; 
    background-color: #F3F3F3;
     box-shadow: inset 0 3px 5px -5px #333;
             

}

.main-meal h2{
    font-family: "NanumSquare";
    font-weight: 900;
    font-size: 20px;
}
.main-meal h5{
    font-family: "NanumSquare";
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    margin-top: 10px;
    margin-bottom: 20px;

}
.meal-card>div:first-child{
    padding-top: 10px;
}
.meal-card span{
    font-family: "NanumSquare";
    font-weight: 500;
    font-size: 16px;
}
#time{
    font-family: "NanumSquare";
    font-weight: 700;
    font-size: 24px;
    margin-right: 10px;
    
}
.today-meal-img{
    overflow: hidden; 
    width:100%;
}
.today-meal-img>img{
    margin-top: 10px;
}

.nutrient-info{
    margin-top: 10px;
}
.nutrient-info p{
    font-family: "NanumSquare";
    font-weight: 500;
    font-size: 15px;
}
.nutrient-info span{
    font-family: "NanumSquare";
    font-weight: 700;
    /* font-size: 18px; */
}

/* footer */
.footer{
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1); /* 위쪽 그림자 효과 추가 */
}
.footer a{
    font-family: "NanumSquare";
    font-weight: 900;
    font-size: 1em;
    position: relative;
    z-index: 1000;
    

}
.footer a:first-child{
    margin-left: 12px;
}

/* 식자재보관함 */
.add-food{
  font-family:"TheJamsil";
  font-weight:600;
  font-size:18px;
  color:white;
  font-style:italic;

}

#gpt-btn{
  display:none;
}
.span-close{
  position:absolute;
  top:-40%;
  left:95%;
  display:none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid #dee2e6;
  background-color: #6c757d;

}
.span-close:after {content: "\00d7"; font-size:15pt;
margin:4px} 


.del-btn {
 width:70%;
color: white;
font-weight: 600;
}

.robot {
    position: absolute;
    width: 220px;
    height: 250px;
    z-index: 999;
    top: 17%;
  }

  .roBack{
      height: 200px;
      background-image: url("../../resources/images/back2.png");
      background-repeat: no-repeat;
      background-position: center;
      opacity:0.3;
    }
    .content-size{
        width: 24rem;
        border-radius: 30px;
    }
    .content-size h1{
      font-weight: 600;
      padding-top: 45px;
      font-size: 20px;
    }
    .foodbox{
      font-size: 17px;
        font-weight: 600;
        height:40px;
        width:27%;
        margin-left: 5%;
        margin-top: 4%;
        border:1px solid #DDDDDD;
        border-radius: 5px;
        background-color:white;
        color:black;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .gpt-btn {

      height:45px;
      background: linear-gradient(to bottom right, #8377F1, #91D9FF);
      border-radius: 15px;
      color: #ffffff;
      text-decoration: none;
      border: none;
  
    }
    .gpt-btn:hover{
      color:white;
    }
  .gpt-btn img{
    height:30px;
  }
  .gpt-btn span{
    font-weight: 800;
    font-size: 18px;
  }
  .border-green{
    border-radius: 30px;
    border:2px solid green;
  }
  .back img{
    height:45px;
    width:50px;
  }
  .food-sec{
    margin-top: 50px;
  }

  .food-sec span{
    font-weight: 600;
    font-size: 20px;
  }
  .grayline{
    margin-top: 30px;
    height: 2px;
    background-color: #E2D9D9;
  }
  .grayline2{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 2px;
    background-color: #E2D9D9;

  }

  .bg-check span>div{
    width: 100px;
    height: 15px;
    background-color: #4EFF60;
    position: absolute;
    z-index: -1;
    opacity: 50%;
    margin-top: 7px;
    margin-left: 7px;
}
.testfont{
    font-size: 1.2em;
    font-weight: 600;
}
.recommand-con{
    width: 24rem;
    border-radius: 30px;
}
.recommand-text{
    margin-top: 120px;
}
.recommand-text span{
    font-size: 23px;
}
.recommand-text p{
    font-size: 14px;
    font-weight: 600;
}
.kcal-text{
    font-size:20px;
    font-weight: 600;
    
}
.bg-check {
  display: flex !important;
  align-items: center !important;
}
.bg-check span{
    font-weight: 600;

}

.bg-check span span{
    font-weight: 600;
    font-size: 20px;
}
#b1{
    color:#ffc107;
}
#b2{
    color: #0d6efd;
}
#b3{
    color:#bc3545;
}
#b4{
    color:#198754;
}
.rec-youtube-titte{
    font-weight: 600;
}

/* 로그인페이지 */
span img{
    width:40px;
    height:40px;
}
.login-logo{
    color: #1f8648;
    font-family: "TheJamsil";
    font-style: italic;
    font-size:45px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 600;
}
.login-text{
    font-size:23px;
    font-weight: 600;

}
.login-btn{
    font-weight: 600;
    height:40px;
    font-size: 18px;
    width:100%;
    margin-top: 20px;
}
.kakao-btn{
    font-weight: 600;
    height:40px;
    font-size: 18px;
    width:100%;
    margin-top:10px;
    background-color: #f7e111;
}
.join-text{
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    color:#1f8648;
}

.yu1 {
    position: relative;
    width:100%;
  }
  
  .yu2 {
    font-size: 15px;
    color: #222222;
    width:100%;
    border: none;
    border-bottom: solid #aaaaaa 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    background: none;
  }
  
  .yu2::placeholder {
    color: #aaaaaa;

    }
  input:focus { outline: none; }
  
  .yu3 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0%;  /* right로만 바꿔주면 오 - 왼 */
    background-color: #666;
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: 0.5s;
  }
  
  .yu4 {
    font-family: 'NanumSquare';
    position: absolute;
    color: #aaa;
    left: 10px;
    font-size: 17px;
    bottom: 8px;
    transition: all .2s;

  }
  
  input:focus ~ .yu4, input:valid ~.yu4 {
    font-size: 16px;
    bottom: 40px;
    color: #666;
    font-weight: bold;
  }
  
  input:focus ~ span, input:valid ~ span {
    width: 100%;
  }

/* 회원가입 */
.scroll-60{
  padding-top: 60px!important;
}

.scroll::before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0;
}
#next-default{
  background-color:#1b703d;
  color:dddddd;
}
   /* 회원가입 섹션이동 0425 */
   .join123 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .join123 a {
    height:50px;
    background-color:#1f8648;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size:20px;
    font-weight:600
  }

.join-logo{
    color: #1f8648;
    font-family: "TheJamsil";
    font-style: italic;
    font-size:35px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 600;
}
.form-label{
    font-weight: 600;
    font-size: 20px;

}
.form-control::placeholder {
    color: #aaaaaa;
    font-size: 14px;

    }
.next-btn{
    height: 45px;
    font-weight: 600;
    color:white;
}
.cm-kg{
    font-family: "TheJamsil";
    font-weight: 600;
    font-style: italic;
    color:green;
}
.activity-title{
    font-size: 18px;
    color:gray;
    font-weight:600;
}
.activity-sub{
    font-size: 15px;
    color:gray;
}
.purpose{
    width:100%;
    height:90px;
    font-weight: 600;
}
.male-female{
  width:100%;
  height:60px;
  font-weight: 600;
}


  .mymy :checked + .my-btn {
    background-color: #1f8648;
    color: white;
  }
  .mymy :checked + .my-btn > span {
    background-color: #1f8648;
    color: white;
  }

  .my-btn{
    --bs-btn-bg:#f8f6f6;
  }

  .purpose-text :checked + .my-btn > span {
    color: white;
  }

  .purpose-text :checked + .bulk-bc {
    background-color: #0d6efd;
    color: white;
  }
  .purpose-text :checked + .maintain-bc {
    background-color: #ffc107;
    color: white;
  }
  .purpose-text :checked + .diet-bc {
    background-color: #dc3545;
    color: white;
  }
  .purpose-text :checked + .male-bc {
    background-color: #0d6efd;
    color: white;
  }
  .purpose-text :checked + .female-bc {
    background-color: #dc3545;
    color: white;
  }

  /* 회원가입 성공 */
/**
 * Extracted from: SweetAlert
 * Modified by: Istiak Tridip
 */
 .success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
  }
  .success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
  }
  .success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
  }
  .success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
  }
  .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: "";
    height: 100px;
    position: absolute;
    background: #FFFFFF;
    transform: rotate(-45deg);
  }
  .success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
  }
  .success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
  }
  .success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
  }
  .success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, 0.5);
  }
  .success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #FFFFFF;
  }
  
  @keyframes rotate-circle {
    0% {
      transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  @keyframes icon-line-tip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  @keyframes icon-line-long {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }

  .only-center{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .add-btn{
    position: fixed;
    bottom: 8%;
    right: -75%;
  }
  .rec-btn{
    position: fixed;
    bottom: 8%;
    right: -75%;
  }

/* 캘린더 CSS */
       /* section calendar */
       .sec_cal {
        width: 360px;
        margin: 0 auto;
        font-family: "NotoSansR";
    }
    
    .sec_cal .cal_nav {
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 20px;
        line-height: 78px;
 
    }

    .sec_cal .cal_nav .year-month {
        width: 270px;
        text-align: center;
        line-height: 1;
    }
    
    .sec_cal .cal_nav .nav {
        display: flex;
        border: 1px solid #333333;
        border-radius: 5px;
    }
    
    .sec_cal .cal_nav .go-prev,
    .sec_cal .cal_nav .go-next {
        display: block;
        width: 20px;
        height: 60px;
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .sec_cal .cal_nav .go-prev::before,
    .sec_cal .cal_nav .go-next::before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        border: 5px solid #000;
        border-width: 2px 2px 0 0;
        transition: border 0.1s;
    }
    
    .sec_cal .cal_nav .go-prev:hover::before,
    .sec_cal .cal_nav .go-next:hover::before {
        border-color: #ed2a61;
    }
    
    .sec_cal .cal_nav .go-prev::before {
        transform: rotate(-135deg);
    }
    
    .sec_cal .cal_nav .go-next::before {
        transform: rotate(45deg);
    }
    
    .sec_cal .cal_wrap {
        position: relative;
        margin: 0 auto;
    }
    
    .sec_cal .cal_wrap .days {
        display: flex;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }
    
    .sec_cal .cal_wrap::after {
        top: 368px;
    }
    
    .sec_cal .cal_wrap .day {
        display:flex; 
        align-items: center;
        justify-content: center;
        width: 51px;
        text-align: left;
        font-size: 14px;
        text-align: center;
        border-radius:10%;

      
    }
    .current{

      font-weight: 600;
      height:50px;
      font-size:14px;
      font-family:'OTWelcomeRA'
    }
  
    
    .sec_cal .cal_wrap .dates {
        display: flex;
        flex-flow: wrap;
        height: 100px;
    }
    
    .sec_cal .cal_wrap .day:nth-child(7n -1) {
        color: #212529;

        color:#4286f5;
    }
    
    .sec_cal .cal_wrap .day:nth-child(7n) {

        color:      #e54537;
    }
    
    .sec_cal .cal_wrap .day.disable {
        color: white;
    }

    .current.today {
    border-bottom:3px solid #1f8648; 
    border-radius: 0px!important;
    border-style: var()
    
 
  }
    
    .current-change{

      background-color: #f1f1f1;
      border:2px solid #cfcfcf;
      color: #4F4F4F !important;

    }

    .day-text{

      font-weight: 600;
      font-size: 15px!important;
    }
    .ym-font{

      font-family: 'OTWelcomeRA';
      font-size:20px;
    }
    .mt9{
      margin-top:90px;
    }
    .ht37{
      height:380px;
    }

    .ht37 div {
      color:#302E2E;
    }

  .grayline3{
    border-right: 2px solid #E2D9D9;
    width: 0.1px;
    height: 100%;
  }
  .fs20{
    font-size:20px;
  }
/* 원형프로그래스바 css */

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  /* margin: 10px auto; */
  max-width: 100%;
  /* max-height: 250px; */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  
}

.circle-bg {
  fill: none;
  stroke: rgba(0, 0, 0, 0.25);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  /* stroke: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)); */
}

.progress .progress-bar{
  animation: progress2 1s ease-out forwards;
}

@keyframes progress2 {
  from {
    width: 0%;
  }

}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/* .circular-chart.green .circle {
  stroke: #4CC790;
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
} */
/* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05)); */


.percentage {
  fill: #666;
	font-size: 5px;
    font-family: 'NanumSquare';
    font-weight: 500;
}

.mc-display{
  display:none;
}


.main-camera2:active{

           box-shadow:none;
           background-color: #f8f9fb!important;

}

.main-pen:active{

  box-shadow:none;
  background-color: #f8f9fb!important;


}

.fs-14{
  font-size: 14px;
}

.join-btn{
  text-decoration: none;
  border:1px solid green;
  padding:9px;
  padding-left:16px;
  padding-right:16px;
  border-radius: 20px;
  color:green;

  
}
.join-btn:hover{
  text-decoration: none!important;
  border:1px solid green;
  padding:9px;
  padding-left:16px;
  padding-right:16px;
  border-radius: 20px;
  color:green;

}
.join-btn:active{
  text-decoration: none;
  border:1px solid green;
  padding:9px;
  padding-left:16px;
  padding-right:16px;
  border-radius: 20px;
  color:white!important;
  background-color: green;
}

.mv-wrap {
  margin-top: 200px;
  margin-bottom: 200px;
}


.join-btn1{
  height:50px;
  font-size:20px;
  text-decoration: none;
  border:2px solid #1f8648;
  padding:9px;
  padding-left:16px;
  padding-right:16px;
  border-radius: 20px;
  color:white;
  font-weight: 600;
  
}
.join-btn1:hover{
  text-decoration: none!important;
  border:2px solid #156133;

  border-radius: 20px;
  color:white;

}
.join-btn1:active{
  text-decoration: none;
  border:2px solid #156133;

  border-radius: 20px;
  color:white!important;
  background-color: #156133;
}

.join-btn1:active span{
  text-decoration: none;
  border:1px solid #156133;
  border-radius: 20px;
  color:white!important;
  background-color: #156133;
}

.join-btn2{
  font-size:20px;
  text-decoration: none;
  border:2px solid #f7e111;
  padding:9px;
  padding-left:16px;
  padding-right:16px;
  border-radius: 20px;
  color:white;
  /* background-color:#f7e111 ; */
  font-weight: 600;
  
}
.join-btn2:hover{
  text-decoration: none!important;
  border:2px solid #d9c50f;
  padding:9px;
  padding-left:16px;
  padding-right:16px;
  border-radius: 20px;
  color:white;

}
.join-btn2:active{
  text-decoration: none;
  border:2px solid #d9c50f;
  padding:9px;
  padding-left:16px;
  padding-right:16px;
  border-radius: 20px;
  color:white!important;
  background-color: #d9c50f;
}

.logo-home-text{
  color: white;
  font-family:"TheJamsil";
  font-style: italic;
  font-size:20px;
  text-decoration: none;
  font-weight: 600;
}

#video_area {

  width: 100%;
  height: 900px;
  overflow: hidden;
  position: absolute;

  
}

.home-footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  

}


/* 홈 메인 텍스트 css */
.text-js {
  opacity: 0;
  font-size:40px;

}

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 0.5s none infinite alternate;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.headline {
 
  color: white;
  text-align: center;
  margin-bottom:50px;
  font-family: "TheJamsil";
  font-style: italic;
}

@media (max-width: 380px) {
  .text-js {
    font-size: 30px;
}
}
  @media (max-width: 400px) {
    .text-js {
      font-size: 35px;
    }
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 600;
}

.twitterLink {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px 15px;
  z-index: 3;
}
.twitterLink svg {
  width: 25px;
}

.credit {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-decoration: none;
}
.ccc{
  width:100%;
  height:100%;
}
.fs-18{
  font-size: 18px;
}

.w-70{
  width:70%
}
.wh-30{
  width:30px;
  height:30px; 
}
.home-sub-title{
  font-size: 17px;
  line-height: 1.4rem;
  margin-bottom:80px;
  color:#fff;
}
.b-70{
  bottom:70px;
}
.main-center-text{
  height:150px;
  margin-top:150px;
}
.carousel-text{
  font-size: 30px;
}

/* 홈화면 CSS */
.container123 {
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text123 {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.ht-59{
  height:59px;
}
.color-green{
  color:#1f8648;
}
.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
/* 0504 식자재보관함 */
#gptTextarea {
   display:none; 
    border: none !important;
    font-size: 16px; 
    padding: 25px;
    line-height: 1.3rem;
    font-family: 'NanumSquare'; 
    border-radius: 5px;
}

#gptTextarea:focus {
   outline: none;
}

.text-muted {
   line-height: 1.3rem;
}

/* MLD  0504 */
.MLD-title-div{
  margin-top: 30px;
  margin-bottom: 30px;
}
#MLD-title{
    font-family: "NanumSquare";
   font-weight: 700;
   font-size: 18px;
}
.MLD-body{
  margin-bottom: 50px;
}
.M-bc, .L-bc, .D-bc{
  height: 70px;
}
.MLD-text :checked + .M-bc{
   background-color: #1f8648;
   color: white;
}
.MLD-text :checked + .L-bc{
   background-color: #1f8648;
   color: white;
}
.MLD-text :checked + .D-bc{
   background-color: #1f8648;
   color: white;
}
.MLD-text :checked + .my-btn > span {
   color: white;
 }

 .carousel-sub-text{
  font-family:'NanumSquare';
  line-height: 1.5em;
  font-size: 16px;
  color: gray;
  font-weight: 500;
 }




/* 임시 */
.progress2 {
  padding: 2px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); */
}

.progress-all {
  height: 10px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar1 {
  width:0%;
  background-color: #ffc107;
  animation: progressAnimation 1s;
}
.progress-moved .progress-bar2 {
  width:0%;
  background-color: #0d6efd;
  animation: progressAnimation 1s;
}

.progress-moved .progress-bar3 {
  width:0%;
  background-color: #dc3545;
  animation: progressAnimation 1s;
}

@keyframes progressAnimation {
  0%   { width: 5%; background-color: #F9BCCA;}
  /* 100% { width: 85%; background-color: #EF476F; } */
}






/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*----------------------------------- 관리자 페이지-------------------------------------------- */
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

/* 대시보드 */
.admin-header{
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    z-index: 999;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
}
.left-nav{
    position: absolute;
    width: 10%;
    height: 100vh;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    text-align: center;
}
.admin-header>span:first-child{
    flex-basis: 90%;
    color: #1f8648;
    font-family: "THE JAMSIL 5";
    font-style: italic;
    font-size:33px;
    box-sizing:inherit;
    text-decoration: none;
    margin-left: 10px;
}
.admin-header img{
    flex-basis: 3%;
    height: 55px;
}.admin-header>span{
    flex-basis: 7%;
    font-family: "NanumSquare";
    font-size:20px;
    font-weight: 700;
    margin-left: 15px;
}
.left-nav ul {
    margin-top: 120px;
}
.left-nav a{
    text-decoration: none;
    color: black;
}

.left-nav li{
    font-family: "NanumSquare";
    font-size:20px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}

.all-dash-board{
    box-sizing: border-box;
    width: 90%;
    height: 100vh;
    right: 0;
    position: absolute;
    background-color: #eee;

}
.board-con {
    width: 95%;
    height: 88%;
    margin-top: 100px;
    box-sizing: border-box;
    position: absolute;
}
.board-wrap {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
}
.dash-borad-content{
    width: 50;
    border: 1px solid plum;
}
.board-wrap div {
    margin-left: 45px;
    display: block;
    width: 500px;
    height: 350px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.board-wrap div span{
    font-family: "NanumSquare";
    font-size:17px;
    font-weight: 900;
}


/* 사용자 관리 페이지*/
.all-user-box{
    box-sizing: border-box;
    width: 90%;
    height:91.7vh;
    right: 0;
    position: absolute;
    background-color: #eee;
    margin-top: 80px;
}
.all-white-box{
    width: 96%;
    height: 93%;
    position: inherit;
    background-color: #fff;
    border-radius: 20px;
    margin: 30px;
}
.user-list-text{
    margin-top: 30px;
    margin-left: 50px;
    font-family: "NanumSquare";
    font-size:20px;
    font-weight: 900;
}
.search-box{
    padding-right: 30px;
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
}
.search-box span{
    font-family: "NanumSquare";
    font-size:17px;
    font-weight: 700;
}
.search-box input{
    border: 1px solid #777;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 5px;
    width: 250px;
    height: 35px;
    box-sizing: border-box;
}
.search-box input:last-child{
    border: 1px solid #777;
    width: 50px;
    font-family: "Noto Sans KR";
    border-radius: 3px;
    box-sizing: border-box;
}
.table-parent{
    display: flex;
    text-align: center;
}
.user-table{
    border: 2px solid #777;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 10px;
    margin-left: 50px;
    width: 93%;
}
.user-table td{
    border: 1px solid #eee;
    padding: 10px;
    font-family: "NanumSquare";
    font-size:17px;
    font-weight: 00;
}
.bold {
    font-weight: 800;
}
  .border1234 {
	height:5px;
	width:5px;
	border-radius:50%;
	background-color:green; 
    position: absolute;
    top: 34px;
    left: 23px;
    color:white;
}  

.rec-btn-shadow:active{

    box-shadow:none!important;
    background-color:#c79706!important;
	
}












